@page
@model AboutModel
@{
    ViewData["Title"] = "Welcome to my CV";
}
<h1>@ViewData["Title"]</h1>
<h2>Education</h2><br>
                  <h3><p>National University of La Matanza:</p><p>Computer science</p><p>Autodidact:</p><p>JAVA</p></h3>
<h2>Programming knowledges</h2><br>
                               <h3><p>Java</p><p>DataBases: Microsfot SQL, PostgreSQL</p><p>C</p></h3>
<h2>Experience</h2><br>
                   <h3><p>Grupo Calipso S.A.:</p><p>Technical Analyst </p><p>Disney Cruise Line:</p><p>Recreation Staff/Lifeguard   </p></p><p>Park Hyatt Palacio Duhau:</p><p>GYM trainer   </p></h3>


<p>This is a simple example</p>
