@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Address and Phone</h3>

<address>
    Cajaravilla 4365<br />
    Floresta, CABA.<br />
    <abbr title="Phone">P:</abbr>
    +541168599056
</address>

<address>
    <strong>Mail:</strong> <a href="maximo.j.gonzalez.c@gmail.com">maximo.j.gonzalez.c@gmail.com</a><br />
    @**<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
